<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electricity Billing</title>
  
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  
</head>
<body class="container-fluid">
	<div align="center">
		<h1>Payment Page</h1>
		<br>
		<br>
	</div>
	<div align="center" th:if="${status ==null}">
		<h1> redirecting paytm</h1>
		<br>
		<br>
		<a th:href="@{/}">Go back to home</a>
		<br>
		<br>
	</div>
	<div align="center" th:if="${status ==null}">
		<h3>Click to Change Status to Paid(For Demo purpose)</h3>
		<form th:action="@{/paypaid/{id}(id=${meterno})}" method="get" id="form1">
		</form>
		<button type="submit" form="form1" class="btn btn-success">paid</button>
	</div>
	<div align="center" th:if="${status !=null}"> 
		<h1>Payment done successfully</h1>
		<a th:href="@{/}">Go back to home</a>
	</div>

</body>
</html>