<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		>
<head>
<meta charset="UTF-8">
<title>EB Billing Management System</title>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h3  sec:authentication="name"> </h3><h3>"Welcome!"</h3>
<span class="nav-link" sec:authentication="principal.fullName"></span>
</div>
	<div class="container my-2">
	<h1>Yours Details</h1>
		
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Customer Id</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="customer : ${Customer}">
					<td th:text="${customer.customerid}"></td>
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.city}"></td>
					<td th:text="${customer.state}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.phone}"></td>
					<td>
					<form class="btn btn-primary" th:action="@{/users/showFormForUpdate/{id}(id=${Customer.customerid})}" method="post">
						<input type="submit" value="Updatel" />
			   		</form>
					<a th:href="@{/users/deleteCustomer/{id}(id=${customer.customerid})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>